{% set field_awards_types = [
  [
    'broker',
    'Best Forex Broker'
  ],
  [
    'platform',
    'Best Trading Platform'
  ],
  [
    'service',
    'Best Customer Service'
  ]
] %}


<h2><strong>{{ 'HYCM'|t }}</strong> {{ '15 Global Awards'|t }}</h2>
<div class="sort-btn awards-filter">

  {% for item in field_awards_types %}
    <button type="button" class="mb-2" data-type="{{ item[0] }}">{{ item[1]|t }}</button>
  {% endfor %}

</div>
<div class="awards-grid d-flex flex-wrap">
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-19.jpg" alt=""/>
      </div>
      <p class="title">Best Forex Broker</p>
      <p>2018 | Europe</p>
    </div>
  </div>
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-1.jpg" alt=""/>
      </div>
      <p class="title">Best Forex Broker</p>
      <p>2017 | UAE</p>
    </div>
  </div>
  <div class="awards-item platform" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-2.jpg" alt=""/>
      </div>
      <p class="title">Best Trading Platform</p>
      <p>2017 | Dubai</p>
    </div>
  </div>
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-3.jpg" alt=""/>
      </div>
      <p class="title">Best Forex Broker</p>
      <p>2017 | Europe</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-4.jpg" alt=""/>
      </div>
      <p class="title">Best Broker</p>
      <p>2015 | Northern Europe</p>
    </div>
  </div>
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-5.jpg" alt=""/>
      </div>
      <p class="title">Best Broker</p>
      <p>2015 | In Southern Europe</p>
    </div>
  </div>
  <div class="awards-item platform" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-6.jpg" alt=""/>
      </div>
      <p class="title">Best Forex Broker</p>
      <p>2014 | Europe</p>
    </div>
  </div>
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-7.jpg" alt=""/>
      </div>
      <p class="title">Best Broker</p>
      <p>2014 | Eastern Asia</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-8.jpg" alt=""/>
      </div>
      <p class="title">Best Broker</p>
      <p>2013 | Middle East</p>
    </div>
  </div>

  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-9.jpg" alt=""/>
      </div>
      <p class="title">Best Global Broker Award</p>
      <p>2012</p>
    </div>
  </div>
  <div class="awards-item platform" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-10.jpg" alt=""/>
      </div>
      <p class="title">Best FX Broker</p>
      <p>2012 | Northern Europe</p>
    </div>
  </div>
  <div class="awards-item broker" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-11.jpg" alt=""/>
      </div>
      <p class="title">Best Forex Broker</p>
      <p>2011 | Middle East</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["broker"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-12.jpg" alt=""/>
      </div>
      <p class="title">Best Global Broker Award</p>
      <p>2011</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["platform"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-13.jpg" alt=""/>
      </div>
      <p class="title">Best Retail Platform</p>
      <p>2015</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["platform"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-14.jpg" alt=""/>
      </div>
      <p class="title">Best Retail Trading Platform</p>
      <p>2014</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["platform"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-15.jpg" alt=""/>
      </div>
      <p class="title">Best Mobile Trading Platform</p>
      <p>2013</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["platform"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-16.jpg" alt=""/>
      </div>
      <p class="title">Best Global Professional Trading Platform</p>
      <p>2014</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["service"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-17.jpg" alt=""/>
      </div>
      <p class="title">Best Customer Service Provider in</p>
      <p>2012</p>
    </div>
  </div>
  <div class="awards-item service" data-groups='["service"]'>
    <div class="inner">
      <div class="img-wrap d-flex align-content-center justify-content-center">
        <img src="/{{ directory }}/assets/images/aw-18.jpg" alt=""/>
      </div>
      <p class="title">Best FX Mini Account Provider</p>
      <p>2012</p>
    </div>
  </div>
</div>
