{#
 File comments
#}

<div {{ attributes }}>{#3554991965421216002#}

    <h2>{{ 'Join the Webinar'|t }}</h2>
    <form method="post" data-parsley-validate="" id="shortForm_{{ webinarid }}"  data-drupal-form-fields="first_name,surname,email,user_exist" novalidate="">
        <div class="field_wrap w_border">
            <label for="first_name" class="field-label">{{ 'First name'|t }}</label>
            <input type="text" id="first_name" name="registrant.givenName" class="field-input" data-parsley-pattern="[A-Za-z ]+" maxlength="40" data-parsley-error-message="{{ 'This value is invalid. Please enter correct details'|t }}" data-parsley-required-message="{{ 'This value is required'|t }}" required="">
        </div>
        <div class="field_wrap w_border">
            <label for="surname" class="field-label">{{ 'Last name'|t }}</label>
            <input type="text" id="surname" name="registrant.surname" class="field-input" data-parsley-pattern="[A-Za-z ]+" maxlength="45" data-parsley-error-message="{{ 'This value is invalid. Please enter correct details'|t }}" data-parsley-required-message="{{ 'This value is required'|t }}" required="">
        </div>
        <div class="field_wrap w_border">
            <label for="email" class="field-label">{{ 'Email'|t }}</label>
            <input type="email" id="email" name="registrant.email" class="field-input" data-parsley-type="email" data-parsley-email="" maxlength="80" data-parsley-pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}$" data-parsley-required-message="{{ 'This value is required'|t }}" required="">
        </div>
        <input type="hidden" name="webinar" value="{{ webinarid }}">
        <input type="hidden" id="user_exist" name="registrant.jobTitle" value="">
        <input type="hidden" name="registrant.comments" value="I agree to receive your newsletters, special offers and also agree to be contacted by HYCM representatives via phone or e-mail. I understand I can opt out from receiving these offers/newsletters any time I wish to.">
        <div class="field_wrap checkbox">
            <label for="agree_pp">{{ 'I have read and accept the <a href=":link">Privacy Policy</a> of HYCM '|t({':link': 'https://help.hycm.com/hc/en-us/articles/360000975365-Privacy-Policy'}) }}</label>
            <input type="checkbox" id="agree_pp" required="" data-parsley-multiple="agree_pp">
        </div>

        <div class="btn_wrap">
            <button id="btn_sbmt" type="submit" class="btn next wave-effect">{{ 'Register now'|t }}</button>
        </div>
    </form>

</div>
