

{#
/**
 * @file
 * Bootstrap Barrio's override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

    <div id="main-nav-container">
        <div class="container">
            <div class="d-flex justify-content-between hycm-nav">
                <div class="main-nav-brand logo">
                    <a href="/" rel="home" class="home-link">
                    {# <img src="/{{ directory  }}/images/logo_white.svg" class="big-logo"> #}    
                    <img src="/sites/www.hycm.com/files/2018-01/logo_white%20%281%29.svg" class="big-logo">
                    {# <img src="/{{ directory  }}/images/since.svg" class="since-logo"> #} 
                    <img src="/sites/www.hycm.com/files/2018-01/since%20%281%29.svg" class="since-logo">
                    </a>
                    </div>
                <div class="main-nav-menu">

                    <div class="hycm-main-menu-wrap hidden-md-down menuDesktop">
                        <ul class="hy-dropdown-menu">
                            {% for item in items %}
                                {%
                                    set classes = [
                                    'hy-nav-item',
                                    item.in_active_trail ? 'active',
                                ]
                                %}
                                <li{{ item.attributes.addClass(classes) }}>
                                    {%
                                        set link_classes = [
                                        'bg-icon',
                                        'bg-icon_dropdown_down',
                                        not menu_level ? 'nav-link',
                                        item.in_active_trail ? 'active',
                                    ]
                                    %}
                                    {{ link(item.title, item.url, {'class': link_classes}) }}
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </div>
                <div class="main-nav-register">
                    {{ register }}
                    {{ deposit }}
                </div>
            </div>
        </div>
    </div>
    <hr class="hidden-md-down">
    <div id="main-sub-nav-container" class="sub-closed">
        <div class="container">
            <div class="row justify-content-end">
              <div class="submenu">
                {% for item in items %}
                    {% if item.below %}
                        <ul class="hycm-dropdown-menu" data-main-subnav="{{ item.hycm_nav_id }}">
                            {{ menus.submenu_links(item.below, attributes) }}
                        </ul>
                    {% endif %}
                {% endfor %}
                <span class="close_submenu"></span>
                <span class="est_since"><span>|</span>{{ 'Est. Since 1977'|t }}</span>
               </div>
            </div>
        </div>
    </div>


{# macro sub links #}

{% macro submenu_links(items, attributes) %}
    {% import _self as menus %}
    {% set menu_level = 1 %}
    {% for item in items %}
        {%
            set classes = [
            'hy-sub-item',
            item.in_active_trail ? 'active',
        ]
        %}
        <li{{ item.attributes.addClass(classes) }}>
            {%
                set link_classes = [
                'nav-link',
                item.in_active_trail ? 'active',
            ]
            %}
            {{ link(item.title, item.url, {'class': link_classes}) }}
            {#{{ hycm_link(item.title, item.url, {'class': link_classes}) }}#}
        </li>
    {% endfor %}
{% endmacro %}
