{#
 File comments
#}


<div {{ attributes.addClass('row') }}>
    <div class="col-md-5 col-lg-4 left-section">
        <div class="market-about-container"></div>
    </div>
    <div class="col-md-7 col-lg-8 right-section">
        <div class="tabs-box">
            <div class="market-tabs">
                {% for item in items %}
                    <div class="accordion-title">
                        <a href="#tab-{{- item.market_id -}}" data-market-tab="{{ item.market_id }}" class="switch-to-{{ item.market_id }}"><span>{{- item.name -}}</span></a>
                    </div>
                    <div {{ item.attributes }}>

                        <div class="market-about-item">
                            <div class="item-label">
                                <img src="/{{ directory }}/assets/images/markets/{{ item.market_id }}.svg">
                                <h3>{{ item.title }}</h3>
                            </div>
                            <div class="item-description">{{ item.description }}</div>
                            <div class="item-leverage">{{ 'Maximum leverage'|t }} <span>{{ item.leverage }}</span></div>
                            <div class="link-all">{{ link }}</div>
                        </div>

                        <div class="slick-container">
                            {%  if  item.graphs %}
                                <div class="value-slider">
                                    <div class="graphs-slick-list">
                                        {{ item.graphs }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>

            <ul class="markets-tab-switch">
                {% for item in items %}
                    <li class="tab-switch-item">
                        <a href="#tab-{{- item.market_id -}}" data-market-tab="{{ item.market_id }}" class="switch-to-{{ item.market_id }}"><span>{{- item.name -}}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>

