{#
/**
 * @file
 * Default theme implementation to display dynamic-wrapper layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout wrapper.
 *
 * @ingroup themeable
 */
#}
{% set domain = hycm_region() %}
{% set domain_class = 'hycm-layout-' ~ domain %}
{% set domain_class_region = 'hycm-region-' ~ domain %}
{% set classes = [
'layout',
'layout--default-empty',
'layout--dynamic-wrapper',
'd-flex flex-column',
domain_class,
settings.container.extra_classes,
] %}

{% if content %}
    <div{{ attributes.addClass(classes) }}>


    {{ hys_background(settings.header) }}

    {% if content.top %}
        <div {{ region_attributes.top.addClass('layout__region', settings.top.extra_classes) }}>
            {% if settings.top.container_wrapper %}
            <div class="{{ settings.top.container_wrapper }}">
                {% endif %}
                {% if settings.top.row_wrapper %}
                <div class="{{ settings.top.row_wrapper }}">
                    {% endif %}

                    {{ content.top }}

                    {% if settings.top.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.top.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main %}
        <div {{ region_attributes.main.addClass('layout__region', settings.main.extra_classes) }}>
            {% if settings.main.container_wrapper %}
            <div class="{{ settings.main.container_wrapper }}">
                {% endif %}
                {% if settings.main.row_wrapper %}
                <div class="{{ settings.main.row_wrapper }}">
                    {% endif %}
                    {{ content.main }}
                    {% if settings.main.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_one %}
        <div {{ region_attributes.main_one.addClass('layout__region', settings.main_one.extra_classes) }}>

            {% if settings.main_one.container_wrapper %}
            <div class="{{ settings.main_one.container_wrapper }}">
                {% endif %}
                {% if settings.main_one.row_wrapper %}
                <div class="{{ settings.main_one.row_wrapper }}">
                    {% endif %}

                    {{ content.main_one }}
                    {% if settings.main_one.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_one.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_two %}
        <div {{ region_attributes.main_two.addClass('layout__region', settings.main_two.extra_classes) }}>
            {% if settings.main_two.container_wrapper %}
            <div class="{{ settings.main_two.container_wrapper }}">
                {% endif %}
                {% if settings.main_two.row_wrapper %}
                <div class="{{ settings.main_two.row_wrapper }}">
                    {% endif %}
                    {{ content.main_two }}
                    {% if settings.main_two.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_two.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_three %}

        <div {{ region_attributes.main_three.addClass('layout__region', settings.main_three.extra_classes) }}>

            {% if settings.main_three.container_wrapper %}
            <div class="{{ settings.main_three.container_wrapper }}">
                {% endif %}
                {% if settings.main_three.row_wrapper %}
                <div class="{{ settings.main_three.row_wrapper }}">
                    {% endif %}

                    {{ content.main_three }}
                    {% if settings.main_three.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_three.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_four %}
        <div {{ region_attributes.main_four.addClass('layout__region', settings.main_four.extra_classes) }}>

            {% if settings.main_four.container_wrapper %}
            <div class="{{ settings.main_four.container_wrapper }}">
                {% endif %}
                {% if settings.main_four.row_wrapper %}
                <div class="{{ settings.main_four.row_wrapper }}">
                    {% endif %}

                    {{ content.main_four }}
                    {% if settings.main_four.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_four.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_five %}

        <div {{ region_attributes.main_five.addClass('layout__region', settings.main_five.extra_classes) }}>

            {% if settings.main_five.container_wrapper %}
            <div class="{{ settings.main_five.container_wrapper }}">
                {% endif %}
                {% if settings.main_five.row_wrapper %}
                <div class="{{ settings.main_five.row_wrapper }}">
                    {% endif %}

                    {{ content.main_five }}
                    {% if settings.main_five.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_five.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_six %}
        <div {{ region_attributes.main_six.addClass('layout__region', settings.main_six.extra_classes) }}>

            {% if settings.main_six.container_wrapper %}
            <div class="{{ settings.main_six.container_wrapper }}">
                {% endif %}
                {% if settings.main_six.row_wrapper %}
                <div class="{{ settings.main_six.row_wrapper }}">
                    {% endif %}

                    {{ content.main_six }}
                    {% if settings.main_six.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_six.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_seven %}
        <div {{ region_attributes.main_seven.addClass('layout__region', settings.main_seven.extra_classes) }}>

            {% if settings.main_seven.container_wrapper %}
            <div class="{{ settings.main_seven.container_wrapper }}">
                {% endif %}
                {% if settings.main_seven.row_wrapper %}
                <div class="{{ settings.main_seven.row_wrapper }}">
                    {% endif %}

                    {{ content.main_seven }}
                    {% if settings.main_seven.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_seven.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_eight %}
        <div {{ region_attributes.main_eight.addClass('layout__region', settings.main_eight.extra_classes) }}>

            {% if settings.main_eight.container_wrapper %}
            <div class="{{ settings.main_eight.container_wrapper }}">
                {% endif %}
                {% if settings.main_eight.row_wrapper %}
                <div class="{{ settings.main_eight.row_wrapper }}">
                    {% endif %}

                    {{ content.main_eight }}
                    {% if settings.main_eight.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_eight.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if content.main_nine %}
        <div {{ region_attributes.main_nine.addClass('layout__region', settings.main_nine.extra_classes) }}>

            {% if settings.main_nine.container_wrapper %}
            <div class="{{ settings.main_nine.container_wrapper }}">
                {% endif %}
                {% if settings.main_nine.row_wrapper %}
                <div class="{{ settings.main_nine.row_wrapper }}">
                    {% endif %}

                    {{ content.main_nine }}
                    {% if settings.main_nine.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_nine.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if content.main_ten %}
        <div {{ region_attributes.main_ten.addClass('layout__region', settings.main_ten.extra_classes) }}>

            {% if settings.main_ten.container_wrapper %}
            <div class="{{ settings.main_ten.container_wrapper }}">
                {% endif %}
                {% if settings.main_ten.row_wrapper %}
                <div class="{{ settings.main_ten.row_wrapper }}">
                    {% endif %}

                    {{ content.main_ten }}
                    {% if settings.main_ten.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.main_ten.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if content.footer %}
        <div {{ region_attributes.footer.addClass('layout__region', settings.footer.extra_classes) }}>

            {% if settings.footer.container_wrapper %}
            <div class="{{ settings.footer.container_wrapper }}">
                {% endif %}
                {% if settings.footer.row_wrapper %}
                <div class="{{ settings.footer.row_wrapper }}">
                    {% endif %}

                    {{ content.footer }}
                    {% if settings.footer.row_wrapper %}
                </div>
                {% endif %}
                {% if settings.footer.container_wrapper %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endif %}