{%
  set classes = [
  'layout',
  'layout--deposit_withdrawals',
]
%}

<div{{ attributes.addClass(classes) }} >

  {% if content.video %}

    {{ content.video }}


  {% endif %}

  <div class="bg-div" style="background-image: url('/{{ directory }}/assets/images/inner-8-bg.jpg');"></div>
  <div class="video-container">
    <div class="mask"></div>
    <video muted autoplay loop preload="auto" src="/{{ directory }}/assets/video/mobile.mp4"></video>
  </div>

  {% if content.top_screen %}
    <div {{ region_attributes.top_screen.addClass('layout__region', 'layout__region--top_screen', 'top-screen big-indent section without-margin') }}>
      <div class="container">
        <div class="row">
          {{ content.top_screen }}
        </div>
      </div>
    </div>
  {% endif %}


  <div class="section simple-tabs deposit-tabs pt-120 white">
    <div class="container">

      <div id="tabs-box">
        <ul class="text-center tab-switch">
          <li class="active">
            <a href="#tab-1" class="font20 tab-switcher">{{ 'DEPOSITS'|t }}</a>
          </li>
          <li>
            <a href="#tab-2" class="font20 tab-switcher">{{ 'WITHDRAWALS'|t }}</a>
          </li>
        </ul>
        <div class="tabs">
          {{ content.deposit_tabs }}
          {{ content.withdrawals_tabs }}
        </div>
      </div>

      <div class="zero-fee-explain">
        {{ content.after_tab }}
      </div>

    </div>
  </div>


  {% if content.need_more_info %}

    <div class="section two-col two-text with-top-border pt-120">
      <div class="container">
        <div class="row">
          <div {{ region_attributes.need_more_info.addClass('layout__region', 'layout__region--need_more_info', 'col-md-6 col-12 text-center text-md-left mb-4 mb-md-0') }}>
            {{ content.need_more_info }}
          </div>
          <div {{ region_attributes.get_in_touch.addClass('layout__region', 'layout__region--get_in_touch', 'col-md-6 col-12 text-center text-md-left pl-md-5 pl-2') }}>
            {{ content.get_in_touch }}
          </div>
        </div>
      </div>
    </div>

  {% endif %}

  {% if content.narrow %}
    <div {{ region_attributes.narrow.addClass('layout__region', 'layout__region--narrow', 'section narrow darkgrey semibold mb-0 w-img hidden-sm-down') }}>
      <div class="container">
        {{ content.narrow }}
      </div>
    </div>

  {% endif %}

  {% if content.security %}

    <div {{ region_attributes.security.addClass('layout__region', 'layout__region--security', 'section halfw-img clearfix without-margin py-120') }}>
      <div class="big-box mb-5 mb-md-0" style="background-image: url('/{{ directory }}/assets/images/svg/Lock_background.svg')"></div>
      <div class="container">
        <div class="row">
         {{ content.security }}
        </div>
      </div>
    </div>

  {% endif %}

</div>
